.idea/misc.xml
.idea/modules.xml
.idea/ReflectionRemoval.iml
.idea/vcs.xml
.idea/workspace.xml
pre-trained/
root_training_real_data/
test_images/
test_results/
VGG_Model/
__pycache__/
root_training_synthetic_data/
real/
duplicated/
test_results_*
r0*
logs/
